{% extends 'clean.html.twig' %}

{% block title %}Vos campagnes
{% endblock %}

{% block content %}
	<!-- Page Header-->
	<header class="masthead" style="background-image: url('{{ asset(" /clean/assets/img/home-bg.jpg") }}')">
		<div class="container position-relative px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div class="site-heading">
						<h1>Clean Blog</h1>
						<span class="subheading">A Blog Theme by Start Bootstrap</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main class="mb-4">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-md-10 col-lg-8 col-xl-7">
					<div
						class="my-5">
						<!-- Main Content -->
						<div class="container">
							<div class="row">
								<div class="col-lg-8 col-md-10 mx-auto">
									<a href="{{ path('app_campaign_create') }}" class="btn btn-primary">Créer une campagne</a>
									<p></p>
									<h2>Campagnes en tant que Maître du Jeu</h2>
									{% if campaignsGM is defined %}
										<ul>
											{% for campaign in campaignsGM %}
												<li>
													<a href="{{ path('app_campaign_read', { id: campaign.id }) }}" class="text-decoration-none">
														<strong>{{ campaign.name }}</strong>
														-
														{{ campaign.description | u.truncate(100, "...")}}
													</a>
												</li>
											{% endfor %}
										</ul>
									{% else %}
										<p>Aucune campagne en tant que MJ.</p>
									{% endif %}
									<h2>Campagnes de mes personnages</h2>
									{% if campaignsCh is not empty %}
										<ul>
											{% for campaign in campaignsCh %}
												<li>
													<strong>{{ campaign.name }}</strong>
													-
													{{ campaign.description }}
												</li>
											{% endfor %}
										</ul>
									{% else %}
										<p>Aucune campagne pour mes personnages.</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>{% endblock %}
